.my-navbar {
    background-color: #00394d;
    border-color: #002533;
}
.my-navbar .navbar-brand {
    color: #9d9d9d;
}
.my-navbar .navbar-brand:hover,
.my-navbar .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
.my-navbar .navbar-text {
    color: #fff;
}
.my-navbar .navbar-nav > li > a {
    color: #9d9d9d;
}
.my-navbar .navbar-nav > li > a:hover,
.my-navbar .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.my-navbar .navbar-nav > .active > a,
.my-navbar .navbar-nav > .active > a:hover,
.my-navbar .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #002533;
}
.my-navbar .navbar-nav > .disabled > a,
.my-navbar .navbar-nav > .disabled > a:hover,
.my-navbar .navbar-nav > .disabled > a:focus {
    color: #444;
    background-color: transparent;
}
.my-navbar .navbar-toggle {
    border-color: #333;
}
.my-navbar .navbar-toggle:hover,
.my-navbar .navbar-toggle:focus {
    background-color: #333;
}
.my-navbar .navbar-toggle .icon-bar {
    background-color: #fff;
}
.my-navbar .navbar-collapse,
.my-navbar .navbar-form {
    border-color: #101010;
}
.my-navbar .navbar-nav > .open > a,
.my-navbar .navbar-nav > .open > a:hover,
.my-navbar .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #002533;
}
@media (max-width: 767px) {
    .my-navbar .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #002533;
    }
    .my-navbar .navbar-nav .open .dropdown-menu .divider {
        background-color: #002533;
    }
    .my-navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: transparent;
    }
    .my-navbar .navbar-nav .open .dropdown-menu > .active > a,
    .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #002533;
    }
    .my-navbar .navbar-nav .open .dropdown-menu > .disabled > a,
    .my-navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .my-navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}
.my-navbar .navbar-link {
    color: #9d9d9d;
}
.my-navbar .navbar-link:hover {
    color: #fff;
}
.my-navbar .btn-link {
    color: #9d9d9d;
}
.my-navbar .btn-link:hover,
.my-navbar .btn-link:focus {
    color: #fff;
}
.my-navbar .btn-link[disabled]:hover,
fieldset[disabled] .my-navbar .btn-link:hover,
.my-navbar .btn-link[disabled]:focus,
fieldset[disabled] .my-navbar .btn-link:focus {
    color: #444;
}
body {
    background-image: url('../background.jpg');
}
.navbar-brand {
    padding-bottom: 40px;
}
.site-index {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    color: #fff;
    padding: 15%;
    height: 200px;
    position: relative;
}
.center h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.jumbotron {
    margin-top: 5%;
    margin-bottom: 5%;
}
.center p {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.center {
    background-color: rgb(0, 18, 26,.8);
    width: 100%;
}
.site-about {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.site-contact {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.site-confirmation {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.site-signup {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.site-login {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.site-request-password-reset, .site-reset-password {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.pharmacy-view {
    color: #fff;
    padding-right: 5%;
    padding-right: 7%;
    width: 200%;
}
.body-view {
    color: #000;
    padding-right: 5%;
    padding-left: 3%;
}
.pharmacy-update {
    color: #fff;
    padding-right: 5%;
    padding-right: 7%;
    width: 200%;
}
.body-update {
    color: #000;
    padding-right: 5%;
    padding-left: 5%;
}
/*.site-withdraw {
    color: #fff;
    background-color: rgb(0, 18, 26,.8);
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}
.body-withdraw {
    color: #fff;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
}*/
.pharmacy-addStock {
    color: #fff;
    padding-right: 5%;
    padding-right: 7%;
    width: 200%;
}
.body-addStock {
    color: #000;
    padding-right: 5%;
    padding-left: 5%;
}
.pharmacy-create {
    color: #fff;
    padding-bottom: 5%;
    padding-right: 7%;
    width: 200%;
}
.body-create {
    color: #000;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
}
.pharmacy-category {
    color: #fff;
    padding-bottom: 5%;
    padding-right: 7%;
    width: 200%;
}
.body-category {
    color: #000;
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
}
.table-hover > tbody > tr:hover {
  background-color: #002533;
  color: #fff;
}
h2.title {
    padding-bottom: 5%;
}
p.text-span {
    padding-top: 27%;
}
p.text-span1 {
    padding-top: 27%;
}
p.text-span2 {
    padding-top: 10%;
}
div.button {
    padding-top: 5%;
}
div.col-md-4 {
    padding-left: 0%;
    width: 25%;
}
div.col-md-8 {
    width: 78%;
    background-color: #f5f5f5;
    padding-left: 15px;
}
div.home-container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
div.dash-container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
div.changePassword-container {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
div.withdraw-container, .withdrawals-container {
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 2%;
    padding-left: 2%;
}
div.unit-container {
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
/*#sidebar > ul > li > a:hover {
    background-color: #d6d6c2;
}
#sidebar > ul > li > a:focus,
#sidebar > ul > li > a:visited,
#sidebar > ul > li > a:active {
    background-color: #0083b3;
    color: #fff;
}*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 0px;
}
.container {
    padding-right: 0px;
    padding-left: 0px;
    width: 85%;
}
#desc-text-wrap{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /*Newer versions of Chrome/Safari*/
    white-space: normal;
    text-align: justify;
}
#name-text-wrap{
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /*Newer versions of Chrome/Safari*/
    white-space: normal;
    text-align: justify;
}